
/*styling for forside: */
.cropped-img {
    height: 500px; 
    object-fit: cover;
}


.search {
    padding: 20px 0px 20px 0px;
    background-color: #F4E1C1;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    overflow-x: hidden;
}

.invisible-label {
    visibility: hidden;  /* Usynlig, men fortsatt opptar plass */
}


/*Header styling: */
.profile-img-header img{
    width: 20px !important;   
}



/*user_profile:*/
.sylinder {
    width: 400px; 
    height: 100%; 
    border-radius: 100px 0 0 100px; 
    position: absolute;
    right: 0; 
    z-index: 1;
  }

  .sylinder:nth-child(2) {
    z-index: 0; 
    right: 200px; 
}

.img-thumbnail {
    width: 200px;
    margin: 10px 0 10px 0;
}

#point img {
    object-fit: contain;
    width: 100%;
}

#tracker {
    display: flex;          
    align-items: center; 
    position: absolute;
    left: 40px;
    top: 50%;                 
    transform: translateY(-50%);
}

#point {
    height: 40px;
    width: 40px;
    display: flex;          
    justify-content: center; 
    align-items: center;    
} 

#point p {
    margin: 0;              
    font-size: 24px;       
}


/*User_profile_two: */
.edit-profile:hover {
    color: #0A3D62 !important;
    background-color: #B3D8F2;
    border-color: #B3D8F2;
}


.scroll-section {
    max-height: 100px;
    overflow-y: auto;
  }

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #B3D8F2 !important;
    background-color: #0A3D62 !important;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #0A3D62 !important;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.btn-primary {
    color: #B3D8F2 !important;
    background-color: #0A3D62 !important;
    border-color: #0A3D62 !important;
}
  
  